.walkthroughSection{
    position: relative;
    display: grid;
    grid-template-areas: 'overlap';
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px,700px);
    z-index: 1;
    
    &::after{
        z-index: -1;
        content: ' ';
        position: absolute;
        top: 50px;
        right: -100vw;
        left: -100vw;
        bottom: 50px;
        background: var(--illustration-opacity);
    }
    
}
.card1{
    position: absolute;
    left: 0%;
    bottom: -5%;
    z-index: 1;
    transform: rotate(-3deg);
    
}
.card2{
    position: absolute;
    left: 30%;
    z-index: 2;
    *{
        opacity: 1;
        
    }
    
    
}
.card3{
    position: absolute;
    right: 0%;
    z-index: 3;
    bottom: -5%;
    transform: rotate(3deg);


}
