
.App{
    display: grid;
    gap: 6rem;
    height: 100%;

}
.forPattern{
    background: url("data:image/svg+xml,%3Csvg width='566' height='27' viewBox='0 0 566 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13.5C32.3333 -3.16667 63.6667 -3.16667 95 13.5C126.333 30.1667 157.667 30.1667 189 13.5C220.333 -3.16667 251.667 -3.16667 283 13.5C314.333 30.1667 345.667 30.1667 377 13.5C408.333 -3.16667 439.667 -3.16667 471 13.5C502.333 30.1667 533.667 30.1667 565 13.5' stroke='%23F5F9FF' stroke-width='2'/%3E%3C/svg%3E");    display: grid;
    padding: 3rem 0;
    gap: 3rem;
}
.container{
    display: grid;
    grid-template-columns: minmax(100px,1464px);
    justify-content: center;
    padding: 0 80px;

}

@media (max-width:1024px){
    .App{

    }
    .container{
        padding: 0 0;
    }
}